/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #fafafa;
    width: 100%;
    position: fixed;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    z-index: 99;
    align-items: center;
    box-shadow: 0 2px 2px rgb(202 45 37);
    padding: 12px;
}

header a {
    text-decoration: none;
    color: rgb(202 45 37);
}

.menu-item {
    color: #fafafa
}

.header-logo {
    display: none;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    margin-top: 60px;
}

#menu>li {
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: small;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/liverpool.winning.png") no-repeat center center/cover;
    position: relative;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#nav-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 270px;
    background-color: rgb(202 45 37);
    z-index: 100;
    transform: translateX(100%);
    transition: all .2s ease-out;
    opacity: 0;
    width: 40%;
}


/* Nav toggle */
#nav-toggle:checked~nav {
    transform: translateX(0);
    opacity: 1;
}

.close-menu.fa-solid {
    display: none;
    color: rgb(255 255 255)
}

.open-menu.fa-solid {
    color: rgb(186 60 47)
}

#nav-toggle:checked~label>.open-menu {
    display: none;

}

#nav-toggle:checked~label>.close-menu {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1rem;
    z-index: 101;
}


main {
    /* Make main element take up any surplus space to push footer down to bottom */
    flex: 1 0 auto;
    margin-top: 62px;
}

h2 {
    z-index: 99;
}

#facts h2 {
    text-align: center;
    margin-top: 15px;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.player {
    max-width: 95%;
    margin-top: 30px;
    padding-left: 15px;
}

.player h3 {
    margin-bottom: 10px;
}


.player-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.player-image-container img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;

}

.gallery-container {
    margin: 24px 0;
    max-width: 100vw;
    overflow-x: scroll;
    display: flex;
    gap: 4px;
    scroll-snap-type: x mandatory;
    padding-left: 12px;
    overflow-y: hidden;
}

.gallery-container>div {
    min-width: 92vw;
    max-height: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.gallery-container>div>img {
    max-height: 90%;
    width: 90%;
    object-fit: contain;
    border-radius: 12px;
    background-color: #fff;
}

#gallery h2 {
    text-align: center;
    margin-top: 15px;
}



.gallery-container>div>p {
    padding: 4px;
}


#signup {
    padding: 24px;
}

#signup-form {
    max-width: 400px;
    background-color: rgb(186 60 47);
    border-radius: 8px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    color: white
}

#name-container {
    display: flex;
    flex-direction: column;
}


#email-container,
#name-container>div {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}


#signup-form input {
    box-sizing: border-box;
    padding: 4px 6px;
    font-size: 16px;
    color: rgb(186 60 47);
    flex: 1;
}

#signup-form button {
    padding: 12px 24px;
    background-color: white;
    color: rgb(186 60 47);
    text-transform: uppercase;
    line-height: 100%;
    border: none;
    font-weight: 800;
    border-radius: 8px;
    margin-top: 8px;
}

/* Footer */
footer {
    background-color: rgb(186 60 47);
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
}



/* Media query: Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        font-size: 150%;
        padding-right: 32px;

    }

    .header-logo {
        display: block;
        width: 80px;
        height: 60px;
        padding-left: 20px;
    }

    /* Main */
    main {
        margin-top: 84px;
    }

    .players {
        flex-direction: row;
    }

    .player {
        max-width: 32%
    }


    .gallery-container {
        max-height: 400px;
    }

    #name-container {
        flex-direction: row;

    }

    #name-container>div {
        flex: 1;
        max-width: 50%;
    }
}



@media screen and (min-width: 1090px) {

    .gallery-container {
        max-height: none;
        max-width: 100vw;
        overflow: initial;
        padding-left: 0;

    }


    .gallery-container>div {
        min-width: 0;
        max-width: none;
        flex: 1;
        height: 300px;
    }

    .gallery-container>div>img {
        width: 100%;
        border-radius: 0px;
        background-color: #fff;
    }
}